<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-1">
            <!-- <label for="addNewButton" style="height: 47px;"></label> -->
            <button class="btn btn-primary" style="margin-top: 5px" type="button" (click)="newTransfer()">+</button>
        </div>
        <div class="form-group col-md-2">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate">
        </div>
        <div class="form-group col-md-2">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate">
        </div>

        <div class="form-group col-md-2">
            <label for="fromAccount">From Account:</label>
            <select class="selectpicker form-control" id="fromAccount" formControlName="fromAccount">
                <option *ngFor="let ac of accounts; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="toAccount">To Account:</label>
            <select class="selectpicker form-control" id="toAccount" formControlName="toAccount">
                <option *ngFor="let ac of accounts; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label for="searchButton" style="height: 47px;"></label>
            <button name="searchButton" style="margin-left: 20px;" class="btn btn-primary" type="submit">Search</button>
            <label style="margin-left: 10px; font-size: smaller" #searchLabel> </label>
        </div>
    </div>
    <hr>
</form>

<div *ngFor="let item of transfers; let i = index;">
    <app-transfer-item appDyEditDelete [index]="i + 1" [transfer]=item param={{item.id}} [onDelete]="onTransferDelete"
        [onEdit]="onTransferEdit"></app-transfer-item>
</div>