<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: beige">Tally</a>
    <button appDropdown class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" role="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/account-list">Accounts</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/category-list">Category</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/transfers">Transfers</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/transactions">Transactions</a>
            </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
            <ng-template [ngIf]="!authService.IsAuthenticated()">
                <li class="nav-item"><a class="nav-link" style="color: beige" routerLink="/signin">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" style="color: beige" routerLink="/signup">Register</a></li>
            </ng-template>

            <li><a style="cursor: pointer; color: beige" *ngIf="authService.IsAuthenticated()" (click)="signuserOut()">Sign
                    Out</a></li>
        </ul>
    </div>
</nav>
<!-- 

<nav claas="collapse navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Tally</a>
    </div>
     <div class="navbar-dark bg-primary">
       <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/account-list">Accounts</a></li>    
          <li routerLinkActive="active"><a routerLink="/account-list">Category</a></li>       
          <li routerLinkActive="active"><a routerLink="/account-list">Transfer</a></li>       
          <li routerLinkActive="active"><a routerLink="/account-list">Transaction</a></li>       
       </ul> -->
<!-- <ul class="nav navbar-nav navbar-right">
         <ng-template [ngIf]="!authService.IsAuthenticated()">
            <li><a routerLink="/signin">Sign In</a></li>
            <li><a routerLink="/signup">Register</a></li>  
         </ng-template>        

       <li class="dropdown" appDropdown *ngIf="authService.IsAuthenticated()">          
           <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a style="cursor: pointer;" (click)="onSaveData()" >Save Data</a></li>
             <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
           </ul>
         </li>
         
         <li><a style="cursor: pointer;" *ngIf="authService.IsAuthenticated()" (click)="signuserOut()">Sign Out</a></li>  
       </ul> 
     </div>
  </div>
</nav>
-->