<div class="card" [ngClass]=getClass()>
        <div class="card-body">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-10">
                                    <h6 class="card-title">{{account.name}}</h6>
                                </div>
                                <div class="col-sm-2">
                                        <nav class="navbar navbar-expand">
                                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                        <ul class="navbar-nav mr-auto">
                                                                <li class="nav-item dropdown">
                                                                        <a id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fa fa-ellipsis-v fa-2x" style="cursor: pointer;"></i>
                                                                        </a>
                                                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                            <a class="dropdown-item" style="cursor: pointer;" (click)="makeTransaction(true)"><i class="fa fa-plus"></i> Add Income</a>
                                                                            <a class="dropdown-item" style="cursor: pointer;"(click)="makeTransaction(false)"><i class="fa fa-minus"></i> Add Expense</a>
                                                                            <a class="dropdown-item" style="cursor: pointer;" (click)="makeTransfer(false)"><i class="fa fa-arrow-circle-o-right"></i> Transfer To</a>
                                                                            <a class="dropdown-item" style="cursor: pointer;" (click)="makeTransfer(true)"><i class="fa fa-arrow-circle-o-left"></i> Transfer From</a>
                                                                            <div class="dropdown-divider"></div>
                                                                            <a class="dropdown-item" (click)="onEdit()"><i class="fa fa-edit fa-1x"></i> Edit</a>
                                                                            <a class="dropdown-item" (click)="onDelete()"><i class="fa fa-trash fa-1x"></i> Delete</a>
                                                                        </div>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </nav>
                                </div>
                        </div>
                </div>


                <div class="container">
                        <div class="row">
                            <p class="col-sm">Opening: {{account.initial | currency }}</p>
                            <i *ngIf="account.isCredit" class="fa fa-credit-card fa-3x"></i>                            
                        </div>
                        <div class="row">
                            <h6 *ngIf="accountBalance != null" class="col-sm">Balance: {{ accountBalance | async | currency }}</h6>
                        </div>
                </div>
        </div>
</div>