.activeAccount {
    border-bottom:1.5px groove gainsboro; 
    font-size: small; 
    background-color: lightgreen
}

.creditAccount {
    border-bottom:1.5px groove gainsboro; 
    font-size: small; 
    background-color: rgb(208, 219, 105)
}

.closedAccount {
    border-bottom:1.5px groove gainsboro; 
    font-size: small; 
    background-color: lightpink
}

a.dropdown-item {
    cursor: pointer;
}