.incomeCategory {
    border-bottom:0.5px groove gainsboro; 
    font-size: small; 
    background-color: lightgreen
}

.expenseCategory {
    border-bottom:0.5px groove gainsboro; 
    font-size: small; 
    background-color: lightpink
}