<div class="card" [ngClass]=getClass()>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h6 class="card-title">{{category.name}}</h6>
                </div>
                <div class="col-sm-2">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v fa-2x" style="cursor: pointer;"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" style="cursor: pointer;" (click)="makeTransaction()"><i
                                                class="fa fa-plus"></i> Make Transaction</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="cursor: pointer;" (click)="onEdit()"><i class="fa fa-edit fa-1x"></i>
                                            Edit</a>
                                        <a class="dropdown-item" style="cursor: pointer;" (click)="onDelete()"><i class="fa fa-trash fa-1x"></i>
                                            Delete</a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>