<div class="modal-header">
    <h4 class="modal-title">{{dialogTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="transferDate">Date:</label>
            <input type="date" id="transferDate" name="transferDate" class="form-control" formControlName="transferDate">
        </div>

        <div class="form-group">
            <label for="fromId">From Account:</label>
            <select class="selectpicker form-control" id="fromId" formControlName="fromId">
                <option *ngFor="let ac of accounts; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="toId">To Account:</label>
            <select class="selectpicker form-control" id="toId" formControlName="toId">
                <option *ngFor="let ac of accounts; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>

      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" class="form-control" formControlName="amount">
        <span *ngIf="transferForm.get('amount').errors != null && transferForm.get('amount').errors['invalidAmount']" class="help-block">This is an invalid amount.</span>
       </div>

        <div class="form-group">
            <label for="note">Note:</label>
            <input type="text" id="note" class="form-control" formControlName="note">
        </div>

        <div class="form-group">
            <button type="submit" style="margin-right: 10px" class="btn btn-success" [disabled]="!transferForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>
    </form>
</div>

<!-- <div class="row">
    <div class="col-lg-3 col-lg-offset-5">
      <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="transferDate">Date:</label>
          <input type="date" id="transferDate" name="transferDate" class="form-control" formControlName="transferDate">
        </div>
  
        <div class="form-group">
          <label for="fromAccountId">From Account:</label>
          <select class="selectpicker form-control" id="fromAccountId" formControlName="fromAccountId">
              <option *ngFor="let ac of accounts | async; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>
  
        <div class="form-group">
            <label for="toAccountId">To Account:</label>
            <select class="selectpicker form-control" id="toAccountId" formControlName="toAccountId">
                <option *ngFor="let ac of accounts | async; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
              </select>
          </div>
  
  
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>
  
        <div class="form-group">
          <label for="note">Note</label>
          <input type="text" id="note" class="form-control" formControlName="note">
        </div>
  
        <div class="form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-success" [disabled]="!transferForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>
  
      </form>
    </div>
  </div> -->
