<div>
  <button class="btn btn-primary" style="margin-top: 5px" (click)="newAccount()">+</button>
  <hr>
  <h3>Active Accounts</h3>
  <div class="row">
    <div class="col-sm-3 col-xl-2" style="padding-top: 10px" *ngFor="let item of activeAccounts; let i = index">
      <app-account-item [account]=item [index]=i></app-account-item>
    </div>
  </div>

  <hr>
  <h3>Inactive Accounts</h3>
  <div class="row">
    <div class="col-sm-3 col-xl-2" style="padding-top: 10px" *ngFor="let item of inactiveAccounts; let i = index">
      <app-account-item [account]=item [index]=i></app-account-item>
    </div>
  </div>
</div>