<div class="col-lg-12">
    <div *ngIf="index == 1" class="row col-lg-12 row col-md-12 tableHeader">
        <div  class="col-lg-1 col-md-1" style="text-align: right; font-weight: 600">Index</div>
          <div  class="col-lg-1 col-md-1" style="text-align: center; font-weight: 600">Date</div>
          <div  class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600">Account name</div>
          <div  class="col-lg-1 col-md-1" style="text-align: end; font-weight: 600">Amount</div>
          <div style="text-align: center; font-weight: 600" *ngIf=showSideColumn>Dr/Cr</div>
          <div class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600" >Category</div>
          <div class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600" >Payee</div> 
          <div class="col-lg-2 col-md-2" id="commandPanel"></div>
      </div>
      <div [ngClass]=getClass()>
            <div class="col-lg-1 col-md-1" style="text-align: right;">{{index}}</div>
              <div class="col-lg-1 col-md-1" style="text-align: center">{{ trans.transactionDate | date:'dd MMM yy' }}</div>
              <div class="col-lg-2 col-md-2" style="text-align: left">{{ trans.accountName }}</div>
              <div class="col-lg-1 col-md-1" style="text-align: end">{{ trans.amount | currency }}</div>
              <div class="badge" style="text-align: end" 
                  [ngClass]="{ Credit : trans.isDebit,Debit : !trans.isDebit }"
                  *ngIf=showSideColumn>
                {{trans.isDebit ? 'Cr' : 'Dr'}}</div>
              <div class="col-lg-2 col-md-2" style="text-align: left" >{{ trans.categoryName }}</div> 
              <div class="col-lg-2 col-md-2" style="text-align: left;">{{ trans.payeeName }}</div> 
              <div class="col-lg-2 col-md-2" id="commandPanel"></div>
      </div>
    </div>