<div class="modal-header">
    <h4 class="modal-title" [ngStyle]="{'color':sColor}">{{dialogTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="transactionDate">Date:</label>
            <input type="date" id="transactionDate" class="form-control" formControlName="transactionDate">
        </div>

        <div class="form-group">
            <label for="accountId">Account:</label>
            <select class="selectpicker form-control" id="accountId" formControlName="accountId">
                <option *ngFor="let ac of accounts; let i=index" value="{{ac.accountId}}">{{ ac.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="categoryId">Category:</label>
            <select class="selectpicker form-control" id="categoryId" formControlName="categoryId">
                <option *ngFor="let cat of categories; let i=index" value="{{cat.id}}">{{ cat.name }}</option>
            </select>
        </div>


        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" class="form-control" formControlName="amount">
            <span *ngIf="transactionForm.get('amount').errors != null && transactionForm.get('amount').errors['invalidAmount']" class="help-block">
                This is an invalid amount.</span>
        </div>

        <div class="form-group">
            <label for="payeeName">Payee:</label>
            <input type="text" id="payeeName" class="form-control" formControlName="payeeName">
        </div>

        <div class="form-group">
            <button type="submit" style="margin-right: 10px" class="btn btn-success" [disabled]="!transactionForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>

    </form>
</div>

<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->