.Debit { 
    color : red; 
    font-weight: bold;
}

.Credit { 
    color : green;
    font-weight: bold; 
} 

.tableHeader {
    border-bottom:2px groove gray; 
    border-top:2px groove black;
    background-color: rgb(212, 212, 170);
    color: white;
}

.tableRowOdd {
    border-bottom:0.5px groove gainsboro; 
    font-size: small; 
    background-color: beige
}

.tableRowEven {
    border-bottom:0.5px groove gainsboro; 
    font-size: small; 
    background-color: rgb(252, 252, 241)
}