<button class="btn btn-primary" style="margin-top: 5px" (click)="onNewCategory()">+</button>
<hr>
<h3>Income</h3>
  <div class="row">
    <div class="col-sm-2" style="padding-top: 10px" *ngFor="let item of incomeCategoryList; let i = index">
      <app-category-item [category]=item [index]=i
      appDyEditDelete param={{item.id}} [onDelete]="onAccountDelete" [onEdit]="onAccountEdit"></app-category-item>
    </div>
</div>
<br>
<hr>
<h3>Expense</h3>
<div class="row">
  <div class="col-sm-2" style="padding-top: 10px" *ngFor="let item of expenseCategoryList; let i = index">
      <app-category-item [category]=item [index]=i
      appDyEditDelete param={{item.id}} [onDelete]="onAccountDelete" [onEdit]="onAccountEdit"></app-category-item>
  </div>
</div>