<div class="modal-header">
    <h4 class="modal-title">{{dialogTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span *ngIf="!accountForm.get('name').valid && accountForm.get('name').touched" class="help-block">
                Account name cannot be empty.
            </span>
        </div>

        <div class="form-group">
            <label for="initial">Opening balance</label>
            <input type="number" id="initial" class="form-control" formControlName="initial">
        </div>

        <div class="form-check">
            <input type="checkbox" id="isClosed" class="form-check-input"
                formControlName="isClosed">
            <label class="form-check-label" for="isClosed"> is closed?</label>
        </div>

        <div class="form-check">
            <input type="checkbox" id="isCredit" class="form-check-input" formControlName="isCredit">
            <label class="form-check-label" for="isCredit"> is credit?</label>
        </div>

        <div class="form-group">
            <button type="submit" style="margin-right: 10px" class="btn btn-success" [disabled]="!accountForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>
    </form>
</div>