<form [formGroup]="transactionsForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-1">
            <!-- <label for="addNewButton" style="height: 47px;"></label> -->
            <button class="btn btn-success" style="margin-top: 5px" type="button" title="Income" (click)="openIncome()">+</button>
            <button class="btn btn-danger" style="margin-top: 5px; margin-left: 5px;" type="button" title="Expense" (click)="openExpense()">--</button>
        </div>
        <div class="form-group col-md-2">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate">
        </div>
        <div class="form-group col-md-2">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate">
        </div>
        <div class="form-group col-md-1">
            <label for="creditdebit">Credit/Debit:</label>
            <select class="form-control" name="creditdebit" formControlName="creditdebit">
                <option value="all">All</option>
                <option value="debit">Debit</option>
                <option value="credit">Credit</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="searchButton" style="height: 47px;"></label>
            <button name="searchButton" style="margin-left: 20px;" class="btn btn-primary" type="submit">Search</button>
            <label style="margin-left: 10px; font-size: smaller" #searchLabel> </label>

        </div>

        <div class="form-group col-md-4">
            <label for="filter" style="height: 47px;"></label>
            <input name="filter" style="margin-left: 30px;width:300px;" [(ngModel)]="filterdStatus" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <hr>
</form>
<div>
    <div *ngFor="let item of (transactions | filter:filterdStatus:'categoryName') as filterTrans; let i = index;">
        <app-transactions-item [index]="i + 1" [transaction]=item [showSideColumn]=showDebitCreditColumn() appDyEditDelete
            param={{item.transactionId}} [onDelete]="onTransactionDelete" [onEdit]="onTransactionEdit"></app-transactions-item>
    </div>
</div>
