<div class="modal-header">
    <h4 class="modal-title">{{dialogTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span *ngIf="!categoryForm.get('name').valid && categoryForm.get('name').touched" class="help-block">
                Category name cannot be empty.
            </span>
        </div>

        <div class="form-check">
            <input type="checkbox" id="isIncome" class="form-check-input"
                formControlName="isIncome">
            <label class="form-check-label" for="isIncome"> is income?</label>
        </div>

        <div class="form-group">
            <button type="submit" style="margin-right: 10px" class="btn btn-success" [disabled]="!categoryForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>
    </form>
</div>