<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-4 col md-offset-5">
      <form action="" (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email" class="email">Username</label>
          <input class="form-control" type="email" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="password" class="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
    </div>
  </div>
  
  