<div class="col-lg-12">
    <div *ngIf="index == 1" class="row col-lg-12 row col-md-12 tableHeader">
        <div class="col-lg-1 col-md-1" style="text-align: right; font-weight: 600">Index</div>
        <div class="col-lg-1 col-md-2" style="text-align: center; font-weight: 600">Date</div>
        <div class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600">From Account</div>
        <div class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600">To Account</div>
        <div class="col-lg-1 col-md-1" style="text-align: end; font-weight: 600">Amount</div>
        <div class="col-lg-2 col-md-2" style="text-align: left; font-weight: 600">Note</div>
        <div class="col-lg-2 col-md-2" id="commandPanel"></div>
    </div>
    <div [ngClass]=getClass()>
        <div class="col-lg-1 col-md-1" style="text-align: right;">{{index}}</div>
        <div class="col-lg-1 col-md-2" style="text-align: center">{{ transfer.transferDate | date:'dd MMM yy' }}</div>
        <div class="col-lg-2 col-md-2" style="text-align: left">{{ transfer.fromAccount }}</div>
        <div class="col-lg-2 col-md-2" style="text-align: left">{{ transfer.toAccount }}</div>
        <div class="col-lg-1 col-md-1" style="text-align: end">{{ transfer.amount | currency }}</div>
        <div class="col-lg-2 col-md-2" style="text-align: left;">{{ transfer.note }}</div>
        <div class="col-lg-2 col-md-2" id="commandPanel"></div>
    </div>
</div>